.nav {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
  width: 100%;
  height: 10vh;
  grid-area: navbar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12vw;
}

.nav img {
  max-width: 50%;
  height: auto;
  background: none;
  margin: 0vh 3vh 0vh 3vh;
}

.navpc {
  display: none;
}

.sidenav {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 5vw;
  color: #0B1D52;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 0px;
}

#main {
  -webkit-transition: margin-right .5s;
  transition: margin-right .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Tablet (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav {
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;
    width: 100%;
    height: 10vh;
    grid-area: navbar;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 12vw;
  }
  .nav img {
    width: 45%;
    height: auto;
    background: none;
    margin: 0vh 3vh 0vh 3vh;
  }
  .nav .burger {
    margin: 1vh 0vh 1vh 0vh;
    width: 10vh;
  }
}

@media only screen and (min-width: 1200px) {
  .nav {
    display: none;
  }
  .navpc {
    background: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35vw 25vw 40vw;
        grid-template-columns: 35vw 25vw 40vw;
        grid-template-areas: 'logo . text';
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2vw;
    position: fixed;
    width: 100%;
    top: 0;
    height: 20vh;
    color: black;
  }
  .navpc img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    width: 20vw;
    height: auto;
    background: none;
  }
  a {
    text-decoration: none;
    color: #0B1D52;
  }
  .white a {
    color: white !important;
  }
  .homeabout {
    color: #0B1D52;
    display: -ms-grid;
    display: grid;
    height: 7vh;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-gap: 5vw;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: text;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    font-size: 2vw;
  }
  .white {
    color: white !important;
  }
}

* {
  font-size: 100%;
  margin: 0 auto;
  font-family: 'Quicksand';
  font-weight: 600;
}

.utama {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 10vh 50vh 40vh;
      grid-template-rows: 10vh 50vh 40vh;
      grid-template-areas: 'header' 'image' 'desc';
  font-size: 15vmin;
  text-align: center;
  color: #0B1D52;
}

.text {
  background: none;
  width: 100%;
  height: 100%;
  padding: 4vh 0vh 4vh 0vh;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text p {
  padding: 1vh 0px 0px 0px;
  font-size: 0.3em;
}

.text h2 {
  font-size: 0.5em;
}

.image {
  background: none;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image img {
  width: 100%;
  height: auto;
}

.desc {
  background: none;
  width: 100%;
  height: 100%;
  font-size: 0.27em;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: desc;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 60%;
      grid-template-rows: 40% 60%;
}

.desc p {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 110%;
}

.desc a {
  background: none;
  width: 100%;
  height: 100%;
}

.desc a img {
  width: 80%;
  height: auto;
}

/* Tablet (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .utama {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 10vh 50vh 40vh;
        grid-template-rows: 10vh 50vh 40vh;
        grid-template-areas: 'header' 'image' 'desc';
    font-size: 15vmin;
    text-align: center;
    color: #0B1D52;
  }
  .text {
    background: none;
    width: 100%;
    height: 100%;
    padding: 4vh 0vh 4vh 0vh;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text p {
    padding: 1vh 0px 0px 0px;
    font-size: 0.3em;
  }
  .text h2 {
    font-size: 0.5em;
  }
  .image {
    background: none;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: image;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .desc {
    background: none;
    width: 100%;
    height: 100%;
    font-size: 0.27em;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: desc;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 40% 60%;
        grid-template-rows: 40% 60%;
  }
  .desc p {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
  }
  .desc a {
    background: none;
    width: 100%;
    height: 100%;
  }
  .desc a img {
    width: 80%;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .utama {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50vw 50vw;
        grid-template-columns: 50vw 50vw;
    -ms-grid-rows: 20vh 25vh 55vh;
        grid-template-rows: 20vh 25vh 55vh;
        grid-template-areas: 'navbar image image' 'header image image' 'desc image image';
    text-align: left;
    color: #0B1D52;
  }
  .text {
    background: none;
    width: 70%;
    height: 50%;
    padding: 4vh 0vh 4vh 0vh;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    text-align: left;
  }
  .text p {
    padding: 1vh 0px 0px 0px;
    font-size: 1.7vw;
  }
  .text h2 {
    font-size: 3.5vw;
  }
  .image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: image;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .desc {
    background: none;
    width: 100%;
    height: 100%;
    font-size: 1.6vw;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: desc;
    display: -ms-grid;
    display: grid;
    grid-row-gap: 0px;
    -ms-grid-rows: 25% 55%;
        grid-template-rows: 25% 55%;
    grid-row-gap: 20%;
  }
  .desc p {
    background: none;
    width: 70%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    line-height: 1.9vw;
  }
  .desc a {
    display: block;
    background: none;
    width: 70%;
    height: 0.001%;
  }
  .desc a img {
    max-width: 70%;
    height: auto;
  }
}

.mute {
  background-image: url("ilustrasi/noheadset.svg");
  width: 300px;
  height: 300px;
  background-size: 300px 300px;
  background-repeat: no-repeat;
}

.mute.not {
  background-image: url("ilustrasi/headset.svg");
  width: 300px;
  height: 300px;
  background-size: 300px 300px;
  background-repeat: no-repeat;
}

.isixtengah {
  margin-top: 18%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 10vh 45vh 10vh;
      grid-template-rows: 10vh 45vh 10vh;
  grid-gap: 4vh;
}

.isixtengah img {
  width: 80%;
}

.xhead {
  display: -ms-grid;
  display: grid;
  grid-gap: 1vh;
  color: #0B1D52;
}

.xhead h1 {
  font-size: 10vmin;
}

.xhead p {
  text-align: justify;
  font-size: 3vmin;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .mute {
    width: 450px;
    height: 450px;
    background-size: 450px 450px;
  }
  .mute.not {
    width: 450px;
    height: 450px;
    background-size: 450px 450px;
  }
  .isixtengah {
    margin-top: 10%;
  }
  .isixtengah img {
    width: 100%;
  }
  .xhead {
    display: -ms-grid;
    display: grid;
    grid-gap: 1vh;
    color: #0B1D52;
  }
  .xhead h1 {
    font-size: 10vmin;
  }
  .xhead p {
    text-align: justify;
    font-size: 3vmin;
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .mute {
    background-image: url("/ilustrasi/noheadset.svg");
    width: 350px;
    height: 350px;
    background-size: 350px 350px;
  }
  .mute.not {
    background-image: url("/ilustrasi/headset.svg");
    width: 350px;
    height: 350px;
    background-size: 350px 350px;
  }
  .isixtengah {
    margin-top: 15vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 10vh 45vh 10vh;
        grid-template-rows: 10vh 45vh 10vh;
    grid-gap: 4vh;
  }
  .isixtengah img {
    width: 100%;
  }
  .xhead {
    grid-gap: 1vh;
    color: #0B1D52;
  }
  .xhead h1 {
    font-size: 10vmin;
  }
  .xhead p {
    text-align: center;
    font-size: 3vmin;
    width: 55%;
  }
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 20vh auto 15vh;
      grid-template-rows: 20vh auto 15vh;
      grid-template-areas: 'header' 'pilihan' 'footer';
  text-align: center;
  color: #0B1D52;
}

.scrollable {
  overflow-y: auto  !important;
  height: 90vh;
}

.headermenu {
  background: none;
  color: black;
}

.headermenu h1 {
  padding: 4vh 0vh 0.5vh 0vh;
  font-size: 15vw;
}

.headermenu p {
  font-size: 3.5vw;
}

.pilihan {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[6];
      grid-template-rows: repeat(6, auto);
      grid-template-areas: 'compsci' 'webdev' 'datasci' 'mobdev' 'comppro' 'gamedev';
  grid-gap: 5px;
}

.menubutton {
  background: none;
  width: 100%;
  height: 100%;
}

.menubutton img {
  width: 92%;
  height: auto;
}

/* VERSI DESKTOP (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 28vh 60vh 10vh;
        grid-template-rows: 28vh 60vh 10vh;
        grid-template-areas: 'header'     'pilihan' 'footer';
    text-align: center;
    color: #0B1D52;
  }
  .scrollable {
    overflow-y: 0  !important;
    overflow-x: 0 !important;
    height: auto;
  }
  .headermenu {
    background: none;
    color: black;
  }
  .headermenu h1 {
    padding: 12vh 0vh 0vh 0vh;
    font-size: 5vw;
  }
  .headermenu p {
    font-size: 2vw;
  }
  .pilihan {
    background: none;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 28vh;
        grid-template-rows: 28vh;
    -ms-grid-columns: 25vw 25vw 25vw;
        grid-template-columns: 25vw 25vw 25vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: 'compsci webdev datasci' 'mobdev comppro gamedev';
    grid-gap: 1vw;
  }
  .menubutton {
    background: none;
    width: 100%;
    height: auto;
  }
  .menubutton img {
    width: 100%;
    height: auto;
  }
}

.tengah {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 85vh 5vh;
      grid-template-rows: 85vh 5vh;
      grid-template-areas: 'isitengah' 'footer';
  font-size: 12vw;
  text-align: center;
  color: white;
}

.isitengah {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: isitengah;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 40% 20%;
      grid-template-rows: 10% 40% 20%;
  -ms-flex-line-pack: center;
      align-content: center;
  background: none;
  grid-gap: 8%;
}

.head {
  background: none;
  font-size: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ilustrasi {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.ilustrasi img {
  width: 90%;
  height: auto;
}

.teks {
  background: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 10%;
  font-size: 5vw;
  text-align: justify;
}

.teks p {
  margin: 5%;
}

.teks img {
  width: 20%;
  height: auto;
  -webkit-animation: upNdown 1.5s infinite linear;
          animation: upNdown 1.5s infinite linear;
}

@-webkit-keyframes upNdown {
  0% {
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
  }
}

@keyframes upNdown {
  0% {
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
  }
}

/* Mobile kecil */
@media only screen and (max-width: 600px) {
  .teks {
    background: none;
    display: -ms-grid;
    display: grid;
    grid-gap: 10%;
    font-size: 5vw;
  }
  .teks img {
    width: 15%;
    height: auto;
    -webkit-animation: upNdown 1.5s infinite linear;
            animation: upNdown 1.5s infinite linear;
  }
}

/* Tablet (landscape tablets, 768px and up) */
@media only screen and (max-width: 1023px) {
  .tengah {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 80vh 5vh;
        grid-template-rows: 80vh 5vh;
        grid-template-areas: 'isitengah' 'footer';
    text-align: center;
    color: white;
  }
  .isitengah {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: isitengah;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 40% 20%;
        grid-template-rows: 10% 40% 20%;
    -ms-flex-line-pack: center;
        align-content: center;
    background: none;
    grid-gap: 8%;
  }
  .head {
    background: none;
    font-size: 7vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ilustrasi {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .ilustrasi img {
    width: 100%;
    max-width: 350px;
    height: auto;
  }
  .teks {
    background: none;
    display: -ms-grid;
    display: grid;
    grid-gap: 10%;
    font-size: 5vmin;
  }
  .teks img {
    width: 15vw;
    height: auto;
    -webkit-animation: upNdown 1.5s infinite linear;
            animation: upNdown 1.5s infinite linear;
  }
  @-webkit-keyframes upNdown {
    0% {
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
    }
  }
  @keyframes upNdown {
    0% {
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
    }
  }
}

/* VERSI DESKTOP (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
  .tengah {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 90vh 10vh;
        grid-template-rows: 90vh 10vh;
        grid-template-areas: 'isitengah' 'footer';
    font-size: 12vw;
    text-align: center;
    color: white;
  }
  .isitengah {
    padding-top: 5vh;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: isitengah;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 50% 10%;
        grid-template-rows: 10% 50% 10%;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 2vh;
  }
  .head {
    background: none;
    font-size: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ilustrasi {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .ilustrasi img {
    width: 30%;
    height: auto;
  }
  .teks {
    background: none;
    display: -ms-grid;
    display: grid;
    grid-gap: 3vh;
    width: 50%;
    font-size: 1.5vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teks p {
    margin: 0%;
  }
  .teks img {
    display: none;
  }
}

.teksgambar {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 80vh 5vh;
      grid-template-rows: 80vh 5vh;
      grid-template-areas: 'isiteksgambar' 'footer';
  font-size: 12vw;
  text-align: center;
  color: white;
}

.isiteksgambar {
  background: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 55% 35% 15%;
      grid-template-rows: 55% 35% 15%;
}

.isiteksgambar h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  font-size: 10vw;
}

.isiteksgambar p {
  background: none;
}

.gambar {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gambar img {
  width: 40vh;
  height: auto;
}

.teksjustify {
  text-align: justify;
  width: 90%;
  background: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 10%;
  font-size: 5vw;
}

.teksjustify img {
  width: 20%;
  height: auto;
  -webkit-animation: upNdown 1.5s infinite linear;
          animation: upNdown 1.5s infinite linear;
}

@keyframes upNdown {
  0% {
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
  }
}

/* Mobile kecil */
@media only screen and (max-width: 600px) {
  .teksjustify img {
    width: 15%;
    height: auto;
    -webkit-animation: upNdown 1.5s infinite linear;
            animation: upNdown 1.5s infinite linear;
  }
}

/* Tablet (landscape tablets, 768px and up) */
@media only screen and (min-width: 1023px) {
  .teksgambar {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 85vh 5vh;
        grid-template-rows: 85vh 5vh;
        grid-template-areas: 'isiteksgambar' 'footer';
    text-align: center;
    color: white;
  }
  .isiteksgambar {
    background: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 55% 35% 15%;
        grid-template-rows: 55% 35% 15%;
  }
  .isiteksgambar h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    font-size: 10vmin;
  }
  .isiteksgambar p {
    background: none;
  }
  .gambar {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .gambar img {
    width: 40vh;
    height: auto;
  }
  .teksjustify {
    text-align: center;
    width: 90%;
    background: none;
    display: -ms-grid;
    display: grid;
    grid-gap: 10%;
    font-size: 5vmin;
  }
  .teksjustify img {
    width: 15vw;
    height: auto;
    -webkit-animation: upNdown 1.5s infinite linear;
            animation: upNdown 1.5s infinite linear;
  }
  @-webkit-keyframes upNdown {
    0% {
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
    }
  }
  @keyframes upNdown {
    0% {
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
    }
  }
}

/* VERSI DESKTOP (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .teksgambar {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 95vh 5vh;
        grid-template-rows: 95vh 5vh;
        grid-template-areas: 'isiteksgambar' 'footer';
    font-size: 12vw;
    text-align: center;
    color: white;
  }
  .isiteksgambar {
    background: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20vw 60vw;
        grid-template-columns: 20vw 60vw;
    -ms-grid-rows: 65vh;
        grid-template-rows: 65vh;
  }
  .isiteksgambar h2 {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 5vw;
  }
  .isiteksgambar p {
    padding-top: 5vh;
    background: none;
    font-size: 2.2vw;
  }
  .gambar {
    background: red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gambar img {
    width: 20vw;
    height: auto;
  }
  .teksjustify {
    background: none;
    display: inline;
    width: 100%;
    margin-top: 26vh;
    margin-left: 3vw;
    text-align: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teksjustify img {
    display: none;
  }
}

.teksnogambar {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 80vh 5vh;
      grid-template-rows: 80vh 5vh;
      grid-template-areas: 'isiteksnogambar' 'footer';
  font-size: 12vw;
  text-align: center;
  color: white;
}

.isiteksnogambar {
  background: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 55% 40% 15%;
      grid-template-rows: 55% 40% 15%;
}

.isiteksnogambar h2 {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 10vw;
}

.isiteksnogambar p {
  width: 100%;
  background: none;
}

.gambar {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gambar img {
  width: 40vh;
  height: auto;
}

.teksnojustify {
  background: none;
  text-align: justify;
  width: 90%;
  display: -ms-grid;
  display: grid;
  margin-top: 45%;
  grid-gap: 10%;
  font-size: 5vw;
}

.teksnojustify img {
  margin-top: 35%;
  width: 20%;
  height: auto;
  -webkit-animation: upNdown 1.5s infinite linear;
          animation: upNdown 1.5s infinite linear;
}

@keyframes upNdown {
  0% {
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
  }
}

/* Mobile kecil */
@media only screen and (max-width: 600px) {
  .teksnojustify {
    background: none;
    text-align: justify;
    width: 90%;
    display: -ms-grid;
    display: grid;
    margin-top: 40%;
    grid-gap: 10%;
    font-size: 5vw;
  }
  .teksnojustify img {
    margin-top: 15%;
    width: 20%;
    height: auto;
    -webkit-animation: upNdown 1.5s infinite linear;
            animation: upNdown 1.5s infinite linear;
  }
  @-webkit-keyframes upNdown {
    0% {
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
    }
  }
  @keyframes upNdown {
    0% {
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
    }
  }
}

/* Tablet (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .teksnogambar {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 85vh 5vh;
        grid-template-rows: 85vh 5vh;
        grid-template-areas: 'isiteksnogambar' 'footer';
    font-size: 12vmin;
    text-align: center;
    color: white;
  }
  .isiteksnogambar {
    background: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 55% 40% 15%;
        grid-template-rows: 55% 40% 15%;
  }
  .isiteksnogambar h2 {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-size: 10vmin;
  }
  .isiteksnogambar p {
    font-size: 5vmin;
    width: 100%;
    background: none;
  }
  .teksnojustify {
    background: red;
    text-align: justify;
    width: 90%;
    display: -ms-grid;
    display: grid;
    margin-top: 20%;
    grid-gap: 10%;
    font-size: 5vmin;
  }
  .teksnojustify img {
    margin-top: 15%;
    width: 15%;
    height: auto;
    -webkit-animation: upNdown 1.5s infinite linear;
            animation: upNdown 1.5s infinite linear;
  }
  @-webkit-keyframes upNdown {
    0% {
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
    }
  }
  @keyframes upNdown {
    0% {
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
    }
  }
}

/* VERSI DESKTOP (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .teksnogambar {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 95vh 5vh;
        grid-template-rows: 95vh 5vh;
        grid-template-areas: 'isiteksnogambar' 'footer';
    font-size: 12vw;
    text-align: center;
    color: white;
  }
  .isiteksnogambar {
    background: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80vw;
        grid-template-columns: 80vw;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .isiteksnogambar h2 {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 5vw;
  }
  .isiteksnogambar p {
    padding-top: 5vh;
    background: none;
    font-size: 2.2vw;
  }
  .teksnojustify {
    background: none;
    display: inline;
    width: 90%;
    margin-top: 20%;
    margin-left: 3vw;
    text-align: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teksnojustify img {
    display: none;
  }
}

.tampilan {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 80vh 5vh;
      grid-template-rows: 80vh 5vh;
      grid-template-areas: 'isitampilan' 'footer';
  font-size: 12vw;
  text-align: center;
  color: white;
}

.isitampilan {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: isitampilan;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 40% 20%;
      grid-template-rows: 20% 40% 20%;
  -ms-flex-line-pack: center;
      align-content: center;
  background: none;
  grid-gap: 0%;
}

.judul {
  background: none;
  font-size: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tampilanimg {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.tampilanimg img {
  -webkit-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: auto;
}

.teks2 {
  background: none;
  display: -ms-grid;
  display: grid;
  font-size: 5vw;
}

.teks2 img {
  margin-top: 60%;
  width: 60%;
  height: auto;
  -webkit-animation: upNdown 1.5s infinite linear;
          animation: upNdown 1.5s infinite linear;
}

@keyframes upNdown {
  0% {
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
  }
}

/* Mobile kecil */
@media only screen and (max-width: 600px) {
  .teks2 img {
    width: 17vw;
    height: auto;
    -webkit-animation: upNdown 1.5s infinite linear;
            animation: upNdown 1.5s infinite linear;
  }
}

/* Tablet (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tampilan {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 85vh 5vh;
        grid-template-rows: 85vh 5vh;
        grid-template-areas: 'isitampilan' 'footer';
    font-size: 12vw;
    text-align: center;
    color: white;
  }
  .isitampilan {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: isitampilan;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 20% 40% 20%;
        grid-template-rows: 20% 40% 20%;
    -ms-flex-line-pack: center;
        align-content: center;
    background: none;
    grid-gap: 0%;
  }
  .judul {
    background: none;
    font-size: 10vw;
    padding-bottom: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tampilanimg {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .tampilanimg img {
    -webkit-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
    width: 95%;
    height: auto;
  }
  .teks2 img {
    margin-top: 65%;
    width: 15vw;
    height: auto;
    -webkit-animation: upNdown 1.5s infinite linear;
            animation: upNdown 1.5s infinite linear;
  }
}

/* VERSI DESKTOP (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tampilan {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 90vh 10vh;
        grid-template-rows: 90vh 10vh;
        grid-template-areas: 'isitampilan' 'footer';
    font-size: 12vw;
    text-align: center;
    color: white;
  }
  .isitampilan {
    padding-top: 5vh;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: isitampilan;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 50% 10%;
        grid-template-rows: 10% 50% 10%;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 2vh;
  }
  .judul {
    background: none;
    font-size: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5vh;
  }
  .tampilanimg {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .tampilanimg img {
    margin-top: 10vh;
    width: 55%;
    height: auto;
  }
  .teks2 {
    background: none;
    display: -ms-grid;
    display: grid;
    grid-gap: 3vh;
    width: 50%;
    font-size: 1.5vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teks2 img {
    display: none;
  }
}

.mulaibelajar {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 88vh 5vh;
      grid-template-rows: 88vh 5vh;
      grid-template-areas: 'isimulaibelajar' 'footer';
  text-align: center;
  color: white;
}

.isimulaibelajar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: isimulaibelajar;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 45% 20%;
      grid-template-rows: 20% 45% 20%;
  -ms-flex-line-pack: center;
      align-content: center;
  background: none;
  grid-gap: 0%;
}

.headmulai {
  background: none;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 1vh;
  background: none;
}

.headmulai h2 {
  font-size: 10vmin;
  background: none;
}

.headmulai p {
  background: none;
  font-size: 4.8vmin;
  margin: 0vh;
}

.mulaibelajarimg {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.mulaibelajarimg img {
  -webkit-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 450px;
  height: auto;
}

.teks3 {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teks3 img {
  margin-top: 3%;
  width: 80%;
  height: auto;
}

/* Mobile kecil */
@media only screen and (max-width: 600px) {
  .headmulai {
    font-size: 9vmin;
  }
  .headmulai p {
    font-size: 3.6vmin;
    margin: 2vh;
  }
  .mulaibelajarimg img {
    -webkit-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
    width: 90%;
    max-width: 550px;
    height: auto;
  }
}

/* Tablet (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mulaibelajar {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 85vh 5vh;
        grid-template-rows: 85vh 5vh;
        grid-template-areas: 'isimulaibelajar' 'footer';
    text-align: center;
    color: white;
  }
  .isimulaibelajar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: isimulaibelajar;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 20% 40% 20%;
        grid-template-rows: 20% 40% 20%;
    -ms-flex-line-pack: center;
        align-content: center;
    background: none;
    grid-gap: 0%;
  }
  .headmulai {
    background: none;
    font-size: 8vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headmulai p {
    font-size: 3.5vmin;
    margin: 2vh;
  }
  .mulaibelajarimg {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .mulaibelajarimg img {
    -webkit-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
    width: 80%;
    height: auto;
  }
  .teks3 {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .teks3 img {
    margin-top: 3%;
    width: 100%;
    height: auto;
  }
}

/* VERSI DESKTOP (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mulaibelajar {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 95vh 5vh;
        grid-template-rows: 95vh 5vh;
        grid-template-areas: 'isimulaibelajar' 'footer';
    font-size: 12vw;
    text-align: center;
    color: white;
  }
  .isimulaibelajar {
    margin-top: 15vh;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: isimulaibelajar;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 20vh 40vh 30vh;
        grid-template-rows: 20vh 40vh 30vh;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 0%;
  }
  .headmulai {
    background: none;
    font-size: 4vw;
    width: 55vw;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    height: 100%;
  }
  .headmulai h2 {
    background: none;
  }
  .headmulai p {
    background: none;
    font-size: 1.5vw;
    margin: 0vh;
  }
  .mulaibelajarimg {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .mulaibelajarimg img {
    -webkit-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
    width: 35%;
    height: auto;
  }
  .teks3 {
    background: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0vh;
        grid-template-rows: 0vh;
    -ms-grid-columns: 25vw 25vw;
        grid-template-columns: 25vw 25vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 90%;
  }
  .teks3 img {
    margin-top: 0%;
    width: 20vw;
    height: auto;
  }
}

.footer {
  background: none;
  width: 100%;
  text-align: center;
  font-size: 4vmin;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.att {
  font-size: 1vw;
}

/* VERSI DESKTOP (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footer {
    position: fixed;
    top: 92vh;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */