// MOBILE FIRST
*
{
    font-size:100%;
    margin: 0 auto; // declare untuk penuh layar
    font-family: 'Quicksand';
    font-weight:600;
}
.utama
{
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 10vh 50vh 30vh; // size navbar,header,image,desc ditotal harus jadi 100
    grid-template-areas:
    'navbar'
    'header'
    'image'
    'desc';
    background: #F9FBFF;
    font-size:60px;
    text-align:center;
    color:#0B1D52;
}
.menu
{
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10% 20% auto 15vw; // size navbar, header, pilihan, footer
    grid-template-areas:
    'navbar'
    'header'
    'pilihan'
    'footer';
    background: #F9FBFF;
    font-size:60px;
    text-align:center;
    color:#0B1D52;
}
.scrollable // agar menu versi mobile bisa di scroll kebawah
{
    overflow-y: auto  !important;
    height: 700px;
}
.headermenu // UPGRADE!.. 
{
    background: none;
    color:black;
    h1 // UPGRADE!...
    {
        padding: 4vh 0vh 0.5vh 0vh; // jarak atas bawah
        font-size:15vw;
    }
    p // Ayo upgrade keahlian..
    {
        font-size:3.5vw;
    }
}
.pilihan // list menu
{
    width:100%;
    height:100%;
    display:grid; // grid buat button button menu
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
    'compsci'
    'webdev'
    'datasci'
    'mobdev'
    'comppro'
    'gamedev';
    grid-gap:5px; // jarak antar grid nya
}
.menubutton // style untuk tiap button
{
    background:none; // untuk debug
    width:100%;
    height:100%;
    img
    {
        width:92%;
        height:auto;
    }
}
.footer
{
    width:100%;
    height:100%;
    background:none;
    grid-area:footer;
    font-size:5vw;
    margin: 1vh 0vh 1vh 0vh;
}
.nav // navbar
{
    background:white;
    width:100%;
    height:100%;
    grid-area:navbar;
    color:white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content:space-between;
    img // logo creative@home
    {
        max-width: 50%;
        height:auto;
        background:none;
        margin:0vh 3vh 0vh 3vh; // jarak kiri kanan
    }
}
.text // text atas image
{
    background:none; // untuk debug
    width:100%;
    height:100%;
    padding: 4vh 0vh 4vh 0vh; // jarak atas bawah
    grid-area:header;
    justify-content: center;
    p // bagaimana jika..
    {
        padding: 1vh 0px 0px 0px;
        font-size:0.3em;
    }
    h2
    {
        font-size:0.5em;
    }
} 
.image // ilustrasi halaman utama
{
    background:none; // untuk debug
    grid-area:image;
    width:100%;
    height:100%;
    display:flex; // display flex supaya bisa di justify content center (tengah secara horizontal)
    justify-content:center;
    img
    {
        width:100%;
        height:auto;
    }
}
.desc // manfaatkan.. + button
{
    background:none; // untuk debug
    width:100%;
    height:100%;
    font-size:0.27em;
    grid-area:desc;
    display:grid;
    grid-template-rows: 40% 60%;
    p
    {
        background:none; // untuk debug
        display:flex;
        align-items:center;
        justify-content:center;
        width:100%;
        height:100%;
        line-height:22px;
    }
    a // button nya
    {
        background:none; // untuk debug
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        img
        {
            width:80%;
            height:auto;
        }
    }
}
.navpc
{
    display:none; // hide navbar versi desktop
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
} 

/* VERSI DESKTOP (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.utama
{
    display:grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 20vh 25vh 55vh; // size baris 1, 2, 3 harus jadi 100
    grid-template-areas:
    'navbar image image'
    'header image image'
    'desc image image';
    background: #F9FBFF;
    text-align:left;
    color:#0B1D52;
}
.menu
{
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 28vh 60vh 10vh; // size navbar, header, pilihan, footer
    grid-template-areas:
    'header'    
    'pilihan'
    'footer';
    background: #F9FBFF;
    text-align:center;
    color:#0B1D52;
}
.scrollable // agar menu versi mobile bisa di scroll kebawah
{
    overflow-y: 0  !important;
    overflow-x: 0 !important;
    height: auto;
}
.headermenu // UPGRADE!.. 
{
    background: none;
    color:black;
    h1 // UPGRADE!...
    {
        padding: 12vh 0vh 0vh 0vh; // jarak atas bawah
        font-size:5vw;
    }
    p // Ayo upgrade keahlian..
    {
        font-size:2vw;
    }
}
.pilihan // list menu
{
    background:none;
    width:100%;
    height:100%;
    display:grid; // grid buat button button menu
    grid-template-rows: 28vh;
    grid-template-columns: 25vw 25vw 25vw;
    justify-content:center;
    grid-template-areas:
    'compsci webdev datasci'
    'mobdev comppro gamedev';
    grid-gap:1vw; // jarak antar grid nya
}
.menubutton // style untuk tiap button
{
    background:none; // untuk debug
    width:100%;
    height:auto;    
    img
    {
        width: 100%;
        height:auto;
    }
}
.footer
{
    background: #F9FBFF;
    position: fixed;
    top:92vh; // jarak 92 height dari atas, berarti 8vh dari bawah
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size:1.5vw;
}
.nav // navbar mobile
{ // #F9FBFF
    display:none;
}
.text // text atas image
{
    background:none; // untuk debug
    width:70%;
    height:50%;
    padding: 4vh 0vh 4vh 0vh; // jarak atas bawah
    grid-area:header;
    text-align:left;
    p // bagaimana jika..
    {
        padding: 1vh 0px 0px 0px;
        font-size:1.7vw;
    }
    h2
    {
        font-size:3.5vw;
    }
} 
.navpc
{
    background:none;
    display:grid;
    grid-template-columns: 35vw 25vw 40vw;
    grid-template-areas:
    'logo . text';
    align-items: center;
    font-size:2vw;
    position:fixed;
    width:100%;
    top:0;
    height:20%;
    color:black;
    img
    {
        grid-area:logo;
        width:20vw;
        height:auto;
        background:none;
    }
}
.homeabout
{
    background:none;
    display:grid;
    height:7vh;
    grid-template-columns: 50% 50%;
    grid-gap:5vw;
    grid-area:text;
    align-items:start;
    font-size:2vw;
}
.image // ilustrasi halaman utama
{
    grid-area:image;
    width:100%;
    height:100%;
    display:flex; // display flex supaya bisa di justify content center (tengah secara horizontal)
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background:none; // untuk debug
    img
    {
        width:100%;
        height:auto;
    }
}
.desc // manfaatkan.. + button
{
    background:none; // untuk debug
    width:100%;
    height:100%;
    font-size:1.6vw;
    grid-area:desc;
    display:grid;
    grid-row-gap: 0px;
    grid-template-rows: 25% 55%;
    grid-row-gap:20%;
    p // manfaatkan..
    {
        background:none; // untuk debug
        width:70%;
        height:100%;
        display:flex; 
        align-items:flex-start; // set jadi align left
        justify-content:flex-start;
        text-align:left;
        line-height:1.9vw;
    }
    a // button nya
    {
        display:block;
        background:none; // untuk debug
        width:70%;
        height:0.001%; // untuk "hide" excess area link buat mencegah bisa klik di luar button
        img
        {
            max-width:70%;
            height:auto;
        }
    }

}

}