* {
  font-size: 100%;
  margin: 0 auto;
  font-family: 'Quicksand';
  font-weight: 600;
}

.utama {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 10vh 10vh 50vh 30vh;
      grid-template-rows: 10vh 10vh 50vh 30vh;
      grid-template-areas: 'navbar' 'header' 'image' 'desc';
  background: #F9FBFF;
  font-size: 60px;
  text-align: center;
  color: #0B1D52;
}

.nav {
  background: white;
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navbar;
  color: white;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav img {
  max-width: 50%;
  height: auto;
  background: none;
  margin: 0vh 3vh 0vh 3vh;
}

.text {
  background: none;
  width: 100%;
  height: 100%;
  padding: 4vh 0vh 4vh 0vh;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text p {
  padding: 1vh 0px 0px 0px;
  font-size: 0.3em;
}

.text h2 {
  font-size: 0.5em;
}

.image {
  background: none;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: image;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image img {
  width: 100%;
  height: auto;
}

.desc {
  background: none;
  width: 100%;
  height: 100%;
  font-size: 0.27em;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: desc;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 60%;
      grid-template-rows: 40% 60%;
}

.desc p {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 22px;
}

.desc a {
  background: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desc a img {
  width: 80%;
  height: auto;
}

.navpc {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* VERSI DESKTOP (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .utama {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50vw 50vw;
        grid-template-columns: 50vw 50vw;
    -ms-grid-rows: 20vh 25vh 55vh;
        grid-template-rows: 20vh 25vh 55vh;
        grid-template-areas: 'navbar image image' 'header image image' 'desc image image';
    background: #F9FBFF;
    text-align: left;
    color: #0B1D52;
  }
  .nav {
    width: 100%;
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: navbar;
    color: white;
    background: #F9FBFF;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav img {
    width: 20vw;
    height: auto;
    background: none;
    margin: 0vh 7.8vw 0vh 7.5vw;
  }
  .nav .burger {
    display: none;
  }
  .text {
    background: none;
    width: 70%;
    height: 50%;
    padding: 4vh 0vh 4vh 0vh;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: header;
    text-align: left;
  }
  .text p {
    padding: 1vh 0px 0px 0px;
    font-size: 1.7vw;
  }
  .text h2 {
    font-size: 3.5vw;
  }
  .navpc {
    width: 60%;
    height: 10%;
    font-size: 2vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10vw 10vw;
        grid-template-columns: 10vw 10vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    background: none;
  }
  .image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: image;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .desc {
    background: none;
    width: 100%;
    height: 100%;
    font-size: 1.6vw;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: desc;
    display: -ms-grid;
    display: grid;
    grid-row-gap: 0px;
    -ms-grid-rows: 25% 55%;
        grid-template-rows: 25% 55%;
    grid-row-gap: 20%;
  }
  .desc p {
    background: none;
    width: 70%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    line-height: 1.9vw;
  }
  .desc a {
    display: block;
    background: red;
    width: 70%;
    height: 0.001%;
  }
  .desc a img {
    max-width: 70%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */