// MOBILE FIRST
.teksgambar
{
    width:100%;
    height:100%;
    display:grid;
    height:100vh;
    grid-template-columns: 100vw;
    grid-template-rows: 80vh 5vh; // size navbar, header, head, image, teks, footer
    grid-template-areas:
    'isiteksgambar'
    'footer';
   
    font-size:12vw;
    text-align:center;
    color:white; // warna teks
}
.isiteksgambar
{
    background:none;
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 55% 35% 15%;
    h2
    {
        display:flex;
        align-items:center;
        background:none;    
        font-size:10vw;
    }
    p
    {
        background:none;
    }
}
.gambar
{
    background:none;
    display:flex;
    align-items: flex-end;
    img
    {
        width: 40vh;
        height:auto;
    }  
}
.teksjustify
{
    text-align:justify;
    width:90%;
    background: none; // untuk debug
    display: grid;
    grid-gap:10%;
    font-size:5vw;
    img
    {
        margin-top:0%;
        width:20%;
        height:auto;
        animation: upNdown 1.5s infinite linear;
    }
    @keyframes upNdown {
         0% { }
         50% { transform: translateY(-5px); }
         100% { }
    }
}
/* Mobile kecil */
@media only screen and (max-width: 600px) {
    .teksjustify
    {
        img
        {
            widows: 20%;
            height:auto;
            animation: upNdown 1.5s infinite linear;
        }
    }
}
/* Tablet (landscape tablets, 768px and up) */
@media only screen and (max-width: 1023px) {
.teksgambar
{
    width:100%;
    height:100%;
    display:grid;
    height:100vh;
    grid-template-columns: 100vw;
    grid-template-rows: 75vh 10vh; // size navbar, header, head, image, teks, footer
    grid-template-areas:
    'isiteksgambar'
    'footer';
   
    text-align:center;
    color:white; // warna teks
}
.isiteksgambar
{
    background:none;
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 55% 35% 15%;
    h2
    {
        display:flex;
        align-items:center;
        background:none;    
        font-size:10vmin;
    }
    p
    {
        background:none;
    }
}
.gambar
{
    background:none;
    display:flex;
    align-items: flex-end;
    img
    {
        width: 40vh;
        height:auto;
    }  
}
.teksjustify
{
    text-align: center;
    width:90%;
    background: none; // untuk debug
    display: grid;
    grid-gap:5%;
    font-size:5vmin;
    img
    {
        width:15vw;
        height:auto;
        animation: upNdown 1.5s infinite linear;
    }
    @keyframes upNdown {
         0% { }
         50% { transform: translateY(-5px); }
         100% { }
    }
}
}

/* VERSI DESKTOP (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .teksgambar
    {
        width:100%;
        height:100%;
        display:grid;
        height:100vh;
        grid-template-columns: 100vw;
        grid-template-rows: 95vh 5vh; // size navbar, header, head, image, teks, footer
        grid-template-areas:
        'isiteksgambar'
        'footer';
       
        font-size:12vw;
        text-align:center;
        color:white; // warna teks

    }
    .isiteksgambar
    {
        background:none;
        display:grid;
        grid-template-columns: 20vw 60vw;
        grid-template-rows: 65vh;
        h2
        {
            background:none;
            display:flex;
            font-size:5vw;
        }
        p
        {
            padding-top:5vh; // jarak dengan heading
            background:none;
            font-size:2.2vw;
        }
    }
    .gambar
    {
        background:red;
        display:flex;
        img
        {
            width:20vw;
            height:auto;
        }  
    }
    .teksjustify
    {
        background: none; // untuk debug
        display:inline;
        width:100%;
        margin-top:26vh; // jarak atas agar sejajar dengan gambar
        margin-left:3vw; // jarak horizontal dengan gambar
        img
        {
          display:none;
        }
        text-align:justify;
        align-items: center;
    }
}