// MOBILE FIRST
.teksimage
{
    width:100%;
    height:100%;
    display:grid;
    height:100vh;
    grid-template-columns: 100vw;
    grid-template-rows: 85vh 5vh; // size navbar, header, head, image, teks, footer
    grid-template-areas:
    'isiteksimage'
    'footer';
    background:#C74D75;
    font-size:12vw;
    text-align:center;
    color:white; // warna teks
}
.isiteksimage
{
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 45vh 10vh 10vh;
    background:none;
    h2
    {
        background:none;
        font-size:10vw;
    }
    p
    {
        background:none;
    }
}
.gambar
{
    display:flex;
    align-items: center;
    background:none;
    img
    {
        width:90%;
        height:auto;
    }  
}



/* VERSI DESKTOP (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}